body {
  color:#f8f9fa !important;
  background: linear-gradient(to right, #243447, #243447, #243447);
}

#contact {
  background:#f8f9fa96;
  padding:25px;
  margin:50px 0;
}

#contact h1{
  color: #2f2b61;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.table {
  width: 95% !important; 
  color: #e9ecef !important;
  margin: auto;
}

.table-bordered {
  border: 1px solid #e9ecef;
}


.tweet{
  position: absolute;
  left: 50px;
  top: 150px;
}

.sentiment{
  position: absolute;
  right: 20px;
  top: 150px;

}

