<!DOCTYPE html>
<html>
<head>
	<title>Sentiment Analysis</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Indexstyle.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<header class="title">
      <div class="title-text">
        <h1 class="big-text">Twitter Sentiment Analysis</h1>
      </div>
    </header>

	<div class="mainsection">
		<div class="sub1">
			<div class="container">
      		<div class="row">
				<div class="col-sm-12">
		          <div class="card">
		            <div class="card-body">
		              <h5 class="card-title">Twitter API Sentiment Analysis on COVID-19 tweets in the Philippines</h5>
		              <form action="/predict" method="post">
						<p>COVID-19 topic in the Philippines</p>
						<div class="form-group">
							<input type="text" class="form-control" name="num" placeholder="Enter number of tweets" autocomplete="off">
						</div>
						<button name="submit" type="submit" class="btn btn-primary" data-submit="...Sending">Predict!</button>
		              </form>    
		            </div>
		          </div>
		        </div>
			</div>
			</div>

    		<div class="container">
      		<div class="row">
		        <div class="col-sm-12">
		          <div class="card">
		            <div class="card-body">
		              <h5 class="card-title">Random Forest Model Sentiment Analysis</h5>
		              <form action="/predict1" method="post">
		                <div class="form-group">
		                  <input type="text" class="form-control" name="txt" placeholder="Example sentence" autocomplete="off">
		                </div>
		                <button name="submit" type="submit" class="btn btn-primary" data-submit="...Sending">Predict!</button>
		              </form>
		            </div>
		          </div>
		        </div>				
			</div>
			</div>
		</div>

		<div class="sub2">
			<img class="twitterimg" width="55%" height="50%" src="{{url_for('static',filename = 'Twitter_bird.png')}}" >
		</div>
	</div>
</body>
</html>